* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

nav > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

nav > div > ul {
  display: flex;
}

nav > div > ul > li {
  list-style: none;
  padding: 0 1em;
}

.profileLogo {
  height: 2.715rem;
  width: 2.715rem;
}
